table{
    width:90%;
    margin:10% auto;
    justify-content: center;
    text-align: justify;

    background-color: rgb(245, 173, 173);
}
table thead{
    background-color: rgb(245, 173, 173);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
table thead th{
    padding: 2%;
    color: chocolate;
}
table td{
    background-color: rgb(245, 173, 173);
    color: rgb(52, 80, 105);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 30px;
    padding: 20px;
}