body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
}
#container {
    display: flex;
    width: 90%;
    height: auto;
    background-color:#CD5C5C;
    margin-top: 2%;
    border-radius: 1%;
    
}
table{
    width: 100%;
    height:auto;
    background: transparent;
    padding: 20px;
    border-radius: 1%;
}

table thead th {
    border-bottom: 10px solid rgb(241, 176, 176);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #FEE8E7;
}
table td {
   
   padding-inline: 6px ;
   padding-block: 10px;
   font-family:'Times New Roman', Times, serif;
   line-height: 30px;
   color: white;
   font-size: large;
   text-align: justify;
  text-justify: inter-word;

}
table td:hover{
    border-bottom: 2px solid rgb(242, 240, 236);
    color: bisque;
}
td a{
    text-decoration: none;
    color: white;
}
td a:active {
    color: white;
}